---
layout: "layouts/project.njk"
client: "BoomTV"
title: "2024 Achievements Sizzle"
length: "1 Month"
scope: "Motion Designer"
video:
  webm: "https://tifajade.b-cdn.net/BoomTV-2024wrapped/EOY%20Loop.webm"
  mp4: "https://tifajade.b-cdn.net/BoomTV-2024wrapped/boomtveoy2024_compressed_h264_preview.mp4"
image:
  webp: "/assets/img/projects/BoomTV-2024wrapped/EOY Loop.00_00_00_00.Still001.webp"
  jpg: "/assets/img/projects/BoomTV-2024wrapped/EOY Loop.00_00_00_00.Still001.jpg"
subtitle: "Capturing BoomTV's Achievements in a Year-End Capsule."
date: 2025-01-01
tags: "project"
feature: "yes"
order: 2
---

<div style="position: relative; padding-top: 56.25%">
  <iframe
    src="https://iframe.mediadelivery.net/embed/418879/7234ddf0-15bf-4fb7-afe6-a3aecae96cb7?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
    loading="lazy"
    style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
</div>

<h2>The Challenge</h2>

<div class="side-by-side">
  <p class="big">{{ subtitle }}</p>
  <p>
    How do you capture a year of major creative achievements in a way that’s as
    fun and dynamic as the work itself? BoomTV’s 2024 year-end recap needed to
    celebrate a non-stop year of tournaments, brand collaborations, and creative
    innovation.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-pinball.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/BoomTV-2024wrapped/boomtveoy2024_compressed.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/BoomTV-2024wrapped/boomtveoy2024_compressed_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2>The Solution</h2>
<div class="side-by-side">
  <p class="big">Bringing BoomTV to the Arcade</p>
  <p>
    I transformed the year-in-review concept into a fully immersive 3D arcade
    world: a neon-lit, 90s-inspired space that visually represents the energy
    and excitement of BoomTV’s biggest events.
  </p>
</div>
<div class="side-by-side">
  <p class="big">Experimenting with New Techniques</p>
  <p>
    I pushed my art direction and animation skills with a custom-built Blender
    environment, blending stylized 3D with hand-drawn Grease Pencil animation.
  </p>
</div>
<img src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp" alt="" />
<img
  src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
  alt=""
/>

<h2>The Impact</h2>
<div class="side-by-side">
  <p>
    🏆 A visually distinctive recap that stood out in a sea of static year-end
    posts.
  </p>
  <p>
    📈 Transformed BoomTV’s year-end recap into an interactive storytelling
    moment that celebrated both the company's wins and gaming culture as a
    whole.
  </p>
  <p>
    🎨 Expanded my technical toolkit with new Blender workflows for future
    projects.
  </p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Animation Direction</li>
    <li>3D Illustration</li>
    <li>Motion Strategy</li>
    <li>Editorial Direction</li>
  </ul>
</div>
<div class="contributions">
  <h3>Credits</h3>
  <ul>
    <li>Lettering: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
