---
layout: "layouts/project.njk"
client: "Fortnite x Chica"
agency: "BoomTV"
title: "Chica Invitational"
length: "2 Weeks"
scope: "Motion Designer"
video: "/assets/img/projects/chica/chica_loop.mp4"
image: "/assets/img/projects/chica/Sequence 01.00_00_20_24.Still001.jpg"
subtitle: "Creative Direction for a Bubbly, High-Energy Fortnite Tournament."
date: 2024-06-09
tags: "project"
feature: "no"
quote: "Boom has been the best, coming up with the graphics... and just always keeping up with me... they have my back all the time. Thank you so much for allowing me to do this."
author: "Chica"
citation: "https://clips.twitch.tv/ThankfulAntediluvianChickpeaUncleNox-uYrudraJKteRsm5S"
---

<video autoplay loop muted playsinline>
  <source src="/assets/img/projects/chica/chica_loop.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<h2>The Challenge</h2>

<div class="side-by-side">
  <p class="big">{{ subtitle }}</p>
  <p>
    In partnership with Epic Games and Chica, I animated the announcement
    trailer and developed the motion system for the $50,000 Chica Invitational,
    a two-part Fortnite tournament.
  </p>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1025900176?h=bf4191ec28&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="ChicaInvitational_Announcement_June9_HD"
    ></iframe>
  </div>

  <figcaption>Chica Invitational Announcement Trailer</figcaption>
</figure>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/chica/chica loop 2_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/chica/chilca loop 3_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/chica/chica loop 4_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<h2>The Impact</h2>
<div class="side-by-side">
  <p>
    🏆 35,889 peak viewers & 142,942 hours watched—a major success for Chica’s
    audience engagement.
  </p>
  <p>
    📸 Major Fortnite superstars like Clix, Bugha, and Queasy participated,
    bringing their massive audiences along.
  </p>
  <p>
    🎨 Earned high praise from Epic Games and Chica, solidifying a lasting
    creative partnership.
  </p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Illustration</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
