---
layout: "layouts/project.njk"
client: "US Army National Guard"
agency: "BoomTV"
title: "Code Freedom"
length: "6 Months"
subtitle: "Introducing Code Freedom to the competitive
gaming space."
video: 
  webm: "https://tifajade.b-cdn.net/Code%20Freedom/code%20freedom%20loop.webm"
  mp4: "https://tifajade.b-cdn.net/Code%20Freedom/code%20freedom%20loop_h264_preview.mp4"
image: 
  webp: "/assets/img/projects/code-freedom/code freedom loop.00_00_00_00.Still001.webp"
  jpg: "/assets/img/projects/code-freedom/code freedom loop.00_00_00_00.Still001.jpg"
date: 2024-05-21
tags: "project"
scope: "Motion Designer, Editor"
feature: "yes"
order: 1
---

<figure>
  <div style="position: relative; padding-top: 41.89%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/f21a72ce-1d6f-4c55-8a0e-d4c1ac889aa7?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>Code Freedom - Apex Legends Tournament Announcement</figcaption>
</figure>

<div>
  <h2>The Challenge</h2>

  <div class="side-by-side">
    <div>
      <p class="big">
        {{ subtitle }}
      </p>
    </div>
    <p>
      The Army National Guard needed a premium esports identity for its Code
      Freedom tournament series, spanning Apex Legends and Counter-Strike 2.
      With top gaming icons like ImperialHal, iiTzTimmy, and Summit1G engaging
      with the event, the branding had to:
    </p>
  </div>

  <div class="side-by-side">
    <p>
      1. Differentiate Code Freedom from other esports circuits with a unique,
      exciting brand presence that would resonate with FPS and Battle Royale
      audiences.
    </p>
    <p>
      2. Create scalable assets that could be easily adapted for multiple
      tournament cycles and marketing campaigns, but stay within the US Army's
      strict brand guidelines.
    </p>
    <p>
      3. Appeal to hardcore competitors and casual viewers alike, ensuring
      maximum brand visibility through the life of the campaign.
    </p>
  </div>
</div>

<figure>
  <div style="position: relative; padding-top: 41.89%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/87ba74e1-2e62-404c-88cd-9033841c81fe?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>Influencer Showdown Event Trailer</figcaption>
</figure>
<div>
  <h2>The Solution</h2>

  <div class="side-by-side">
    <p class="big">Six Tournaments, Six Unique Looks.</p>
    <p>
      Instead of treating Code Freedom as a single ongoing event, I positioned
      each tournament as its own unique brand, ensuring fresh visuals while
      maintaining consistency.
    </p>
  </div>

  <div class="side-by-side">
    <p class="big">Breaking Boundaries</p>
    <p>
      Initially, the Guard could only approve plain white backgrounds, limiting
      creative impact. I developed bold, strategic design proposals that
      convinced them to expand their branding approach—leading to a more
      dynamic, engaging campaign. Convincing the US Army was no easy task, but
      it quickly became a rewarding win for everyone involved.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">The Cinematic Factor</p>
    <p>
      I directed six distinct event trailers, ensuring each had its own visual
      identity while maintaining a cohesive high-energy esports aesthetic. The
      Code Freedom logo reveal was treated as a cinematic moment, giving the
      brand an emblematic, franchise-worthy presence. From there, I developed
      unique trailer concepts for each of the six events, driving a high level
      of engagement for the campaign's duration.
    </p>
  </div>
</div>

<div class="side-by-side">
  <div>
    <p class="big">Revealing the Code Freedom Style</p>
    <p>
      We revealed Code Freedom to the world through a cinematic reveal trailer
      directed by myself, focusing on a 3D recreation of the emblem-like logo
      bathed in gold light amidst a firey, cinematic backdrop.
    </p>
    <p>
      Highlighting the logo's individual elements and our attention to detail
      throughout the branding process, this was Code Freedom's first message to
      the world in 2024, teasing upcoming events for the Apex Legends and
      Counter-Strike communities, and generating hype around the forthcoming
      circuit.
    </p>
  </div>
  <div class="wrapper-smaller">
    <div style="position: relative; padding-top: 100%">
      <iframe
        src="https://iframe.mediadelivery.net/embed/418879/0df29991-9093-47ae-b8fa-6de87b2ef870?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
        loading="lazy"
        style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </div>
</div>
<figure>
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/79f8b26e-ac57-409a-99b3-276a77b703e5?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>"The Edge" / "The Storm" - Dual Event Trailer</figcaption>
</figure>

<figure>
  <div class="side-by-side">
    <video autoplay loop muted playsinline controls>
      <source
        src="https://tifajade.b-cdn.net/Code%20Freedom/Code%20Freedom%EF%BC%9A%20Night%20Life%20Desk%20%5BoDyjKtc9bQk%5D_h264_crf23.webm"
        type="video/webm"
        loading="lazy"
      />
      <source
        src="https://tifajade.b-cdn.net/Code%20Freedom/Code%20Freedom%EF%BC%9A%20Night%20Life%20Desk%20%5BoDyjKtc9bQk%5D_h264_crf23.mp4"
        type="video/mp4"
        loading="lazy"
      />
      Your browser does not support the video tag.
    </video>
    <video autoplay loop muted playsinline controls>
      <source
        src="https://tifajade.b-cdn.net/Code%20Freedom/Code%20Freedom%EF%BC%9A%20The%20Edge%20Desk%20%5B7c3kubo3Xrc%5D_h264_crf23.webm"
        type="video/webm"
        loading="lazy"
      />
      <source
        src="https://tifajade.b-cdn.net/Code%20Freedom/Code%20Freedom%EF%BC%9A%20The%20Edge%20Desk%20%5B7c3kubo3Xrc%5D_h264_crf23.mp4"
        type="video/mp4"
        loading="lazy"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <figcaption>Analyst Desk segment examples</figcaption>
</figure>

<div>
  <div class="side-by-side">
    <p class="big">Non-Stop Entertainment</p>
    <p>
      We leaned hard into making Code Freedom an absolute beast of an
      entertainment experience, with an analyst desk segment where most events
      broadcasts would have intermission or waiting screens. With expert
      analysts, Code Freedom kept the action going for viewers every moment of
      each 3+ hour show.
    </p>
  </div>
</div>
<figure>
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/a99b1ce7-18a6-4305-ac00-24dd8ff380fc?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>"Night Life" Event Trailer</figcaption>
</figure>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <p class="big">Massive Growth & Engagement</p>
    <p>
      21.1M+ impressions across six events for a massive 160% increase in YoY
      growth for the Guard, with 22.9M minutes watched across Twitch broadcasts
      & player POV streams. Massive impressions, and massive reach for the
      campaign.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">Esports Icons Took Notice</p>
    <p>
      Gaming’s biggest names—ImperialHal, iiTzTimmy, Summit1G, and
      Sweet—organically engaged with the event, helping to boost social reach
      for the Guard.
    </p>
  </div>
</div>

<figure>
  <video muted playsinline controls>
    <source
      src="https://tifajade.b-cdn.net/Code%20Freedom/d-joQphE92QaUe9d.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Code%20Freedom/d-joQphE92QaUe9d.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>
  <figcaption>ImperialHal Partnership Video</figcaption>
</figure>

<figure>
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/6328c904-1b09-418c-baf7-dda8a366b4c7?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>"Champions" Event Trailer</figcaption>
</figure>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>Animation Direction</li>
    <li>Production Oversight</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design, Event Styling: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
