---
layout: "layouts/project.njk"
client: "KNDU-TV"
agency: "KNDU-TV"
title: "Fear None: Football Season With The Richland Bombers"
videoID: "1026353184"
subtitle: "Directing, Video Editing, Videography, Project Management"
video: "/assets/img/videos/fear none_web.mp4"
image: "/assets/img/projects/fear-none/fear-none-thumb.jpg"
date: 2018-01-01
tags: "project"
scope: "Director & Videographer, Editor"
feature: "yes"
order: "2"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/328774122?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Fear None TV Promo"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As executive producer and director on this sports documentary series, I
      oversaw all aspects of production, from conception to final edit.
    </p>
    <p>
      Fear None is a six-episode documentary series following the Richland High
      School football team as they go from #1 prospects to state champions.
      Through careful planning and coordination with the team, I was able to
      gain unprescedented access to the team, delivering special insight into
      their championship run through fly-on-the-wall videography, mics on
      players, and personal interviews with students and coaches. After
      traveling with the team and shooting hundreds of hours of footage, I spent
      two months editing it down into six one-hour long episodes, which aired on
      sports network SWX in 2017 and 2018.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Direction</li>
      <li>Videography</li>
      <li>Production</li>
      <li>Editing</li>
      <li>Motion Strategy</li>
      <li>Project Management</li>
    </ul>
  </div>
</div>
