---
layout: "layouts/project.njk"
client: "Fortnite"
agency: "BoomTV"
title: "The Reunion"
length: "3 Weeks"
videoID: "1026360987"
subtitle: "Reviving Fortnite’s OG Era with a Nostalgic Showdown."
video:
  webm: "https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop.webm"
  mp4: "https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop_h264_preview.mp4"
image:
  webp: "/assets/img/projects/fortnite-reunion/reunion loop main.00_00_00_00.Still001.webp"
  jpg: "/assets/img/projects/fortnite-reunion/reunion loop main.00_00_00_00.Still001.jpg"
date: 2023-06-04
tags: "project"
scope: "Motion Designer, Editor"
feature: "yes"
order: 4
quote: "BoomTV pulled out all the stops for this once-in-a-lifetime competition that may never be replicated again. The blend of young Fortnite talent and legends of the past made this a must-watch event."
author: "esports.gg"
citation: "https://esports.gg/news/fortnite/fortnite-reunion-tournament-ends-with-peely-squad-takeover/"
---

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop_h264_crf21.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <h2>The Challenge</h2>

  <p>
    Fortnite OG was an emotional, exciting moment for the entire Fortnite
    community. In a first-of-its-kind content event, fans returned to the
    original map that was removed from the game back in 2017. To promote this
    legacy event and celebrate with fans and influencers alike, Epic Games
    needed a can’t-miss tournament that felt like a true homecoming for the
    community.
  </p>
</div>

<!-- <div class="side-by-side">
  <div class="side-by-side details">
    <div>
      <p class="small"><b>Client:</b></p>
      <p class="small">Epic Games</p>
    </div>
    <div>
      <p class="small"><b>Project Length:</b></p>
      <p class="small">3 Weeks</p>
    </div>
    <div>
      <p class="small"><b>Deliverables:</b></p>
      <p class="small">End-To-End Creative Direction</p>
    </div>
  </div>
  <div class="testimonial">
    <blockquote class="quote">
      "Looking at the Fortnite competitions held after the mind-blowing OG
      update’s release, The Reunion featuring Fortnite is easily the most
      successful."
    </blockquote>
    <cite class="author"
      >-
      <a
        href="https://escharts.com/news/reunion-featuring-fortnite-recap"
        target="blank"
        >Echarts.com</a
      ></cite
    >
  </div>
</div> -->

<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport1.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 4.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 3.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 2.webp"
    alt=""
  />
</div>

<h2>The Solution</h2>

<div class="side-by-side">
  <p class="big">Class of 2017?</p>
  <p>
    Among the concepts presented, the clear winner was "The Reunion," drawing
    connections to class reunions and seeing old friends from the past. The
    title was perfect for Epic, and I built off this concept to conceptualize a
    winning trailer style that would draw millions of views.
  </p>
</div>

<div class="side-by-side">
  <p class="big">A Delicious Trailer With a Side of Nostalgia</p>
  <p>
    To make The Reunion felt like a celebration, I pitched the Fortnite team on
    a massive cake shaped like the returning map. Loving the concept, they
    worked closely with me to coordinate which iconic locations would be
    returning, and together we unveiled The Reunion to fans in delicious style.
  </p>
</div>

<figure>
  <div class="vimeo-container" style="overflow: hidden">
    <div style="position: relative; padding-top: 56.25%">
      <iframe
        src="https://iframe.mediadelivery.net/embed/418879/dbc2f757-71cd-494b-8d47-53940110e37b?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
        loading="lazy"
        style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </div>
  <figcaption>Fortnite: The Reunion - Announcement Trailer</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">Extending The Style</p>
  <p>
    With the trailer conceptualized and production underway, I next worked on
    extending that same bright, colorful style to the rest of the event design.
    We iterated through variations on the logo, working closely with the
    Fortnite team as their branding and style evolved alongside ours.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/Style Custom Graphics_/Old reuinon.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/Style Custom Graphics_/Text Treatment_.webp"
    alt=""
  />
</div>

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%204.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%204.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%206.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%206.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%203.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%203.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Behance_Sting.mp4"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Behance_Sting.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%202.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%202.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>The Impact</h2>

<div class="side-by-side">
  <p>
    📊 Fans embraced the cake concept—leading to 2M+ impressions and 69K+ direct
    social engagements.
  </p>
  <p>
    🎥 811K hours watched, 234K peak viewers—one of 2023’s biggest Fortnite
    tournaments.
  </p>
  <p>
    🔥 Fortnite’s top influencers drove hype, outperforming even Epic’s official
    channel.
  </p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Environment & Animation</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div class="contributions">
  <h2>Credits</h2>

  <ul>
    <li>Logo Design: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
