---
layout: "layouts/project.njk"
client: "Impact Gaming"
title: "Impact Inspire: Documentary Series"
length: "6 Months"
video:
  webm: "https://tifajade.b-cdn.net/Impact%20Gaming/Impact%20Gaming%20Loop.webm"
  mp4: "https://tifajade.b-cdn.net/Impact%20Gaming/Impact%20Gaming%20Loop_h264_preview.mp4"
image: "/assets/img/projects/impact/impact thumb.jpg"
date: 2018-01-01
tags: "project"
scope: "Director & Videographer, Editor"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/402376416?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Inspire 1: New World Blues | Impact Gaming"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      In 2018, Impact Gaming housed its H1Z1 Pro League team in Las Vegas,
      Nevada for a 10 week competition against the best of the best.
    </p>
    <p>
      When I joined Impact as their creative producer, the staff was me, the
      team manager, and the company's CEO. A small team, to say the least!
      Impact signed a H1Z1 Pro League team, and I developed a content offering
      that lifted Impact from a no-name esports org to one with a sizable
      fanbase, invested in the stories of the players I told through hundreds of
      hours of filmed footage, personal interviews, and deliberate, structured
      storytelling that highlighted their successes and failures.
    </p>
    <p>
      Developing the company's entire content strategy, while balancing my
      duties with managing partner activations, shooting and editing everything,
      and managing budgets and equipment - was all certainly hectic, but granted
      me valuable experience that helped me level up in my career. This is just
      a sample of the video work I developed while with Impact Gaming. Enjoy!
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Production</li>
      <li>Video Production</li>
      <li>Direction</li>
      <li>Editing</li>
      <li>Motion Strategy</li>
      <li>Project Management</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/636597366?h=550110ca9f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Impact Gaming H1Z1 | Growth Holdings House Tour"
  ></iframe>
</div>
