---
layout: "layouts/project.njk"
client: "Intel"
agency: "American Video Game League"
title: "Intel Inspires"
length: "8 Months"
videoID: "1026298680"
subtitle: "Empowering the Next Generation of Esports Talent."
video: "/assets/img/projects/intel-inspires/Intel loop_h264_crf23.mp4"
image: "/assets/img/projects/intel-inspires/intel-inspires_thumb.jpg"
date: 2023-05-01
tags: "project"
scope: "Creative Director & Producer, Editor"
feature: "yes"
order: 3
quote: "Incredible to meet students so engaged in their esports programs and meeting all of the educators supporting their students' endeavors."
author: "Aaron Bellot, Remnants"
citation: "https://www.linkedin.com/feed/update/urn:li:activity:7058836513538666496/"
---

<img src="/assets/img/projects/intel-inspires/intel+inspires.webp" alt="" />

<div class="side-by-side">
  <h2>The Challenge</h2>
  <p>
    Intel Inspires is one of the largest scholastic esports events. With an
    eight-month tournament series culminating in a live championship, it needed
    a cohesive identity that matched its scale. Beyond competition, the event
    had to drive brand engagement, career development, and lead generation for
    Intel and partners.
  </p>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026298680?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Intel Inspires - Event Sizzle"
  ></iframe>
</div>
<figure>
  <img
    src="/assets/img/projects/intel-inspires/trophy.webp"
    alt="Close-up of a glass trophy reading 'Intel Inspires'"
  />
  <figcaption>
    We designed custom trophies for each Intel Inspires champion featuring our
    event logo and brand designs.
  </figcaption>
</figure>

<h2>The Solution</h2>

<div class="side-by-side">
  <p class="big">A Unified Identity for Scholastic Esports</p>
  <p>
    From social promos to event signage, we adapted Intel’s corporate branding
    into a true esports identity, modular enough to integrate partner brands
    like ASUS, CDW, and SHI while maintaining a unified and modern design system
    for screens of all sizes.
  </p>
</div>
<div class="side-by-side">
  <p class="big">A Pathway to Success</p>
  <p>
    We built Intel Inspires to be a structured pathway for high school and
    college players to compete, network, and gain visibility from the start. The
    summit was designed to not only showcase top talent but also to educate and
    connect students with industry professionals and recruiters.
  </p>
</div>
<div class="side-by-side">
  <p class="big">Competition & Career Development</p>
  <p>
    With a three-day LAN championship and industry summit, we delivered a dual
    experience—high-energy esports alongside thought leadership panels and
    networking sessions, so players and educators could leave with meaningful
    insights and career opportunities.
  </p>
</div>
<figure>
  <img
    src="/assets/img/projects/intel-inspires/image.png"
    alt="Graphic reading 'Esports in Education Summit' and 'Best Practices for Inclusive Esports' highlighting a panel of five speakers."
  />
  <figcaption>
    Promotional graphic highlighting speakers attending the conference.
  </figcaption>
</figure>
<figure>
  <img
    src="/assets/img/projects/intel-inspires/overwatch.webp"
    alt="Graphic reading 'Champions' and 'College Overwatch' showcasing a team of 7 college esports athletes holding up the Intel Inspires trophy in celebration."
  />
  <figcaption>
    Champions graphic showcasing one of the winning teams.
  </figcaption>
</figure>

<div>
  <h2>The Impact</h2>

  <div class="side-by-side">
    <p>
      📊 10,000+ students from 478 schools participated, with $30K in grants
      awarded to winning teams.
    </p>
    <p>
      🎥 2.7M+ social impressions, driving engagement across Intel and partner
      channels.
    </p>
    <p>
      📈 223 educators attended, generating 403 unique leads for partner brands.
    </p>
  </div>
</div>
<img src="/assets/img/projects/intel-inspires/img_6086.jpg" alt="" />

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Production Management</li>
    <li>Animation Direction</li>
    <li>Marketing Content Strategy</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
