---
layout: "layouts/project.njk"
client: "KNDU-TV"
title: "NBC Right Now"

video: "/assets/img/videos/kndu sizzle_h264_crf21.mp4"
image: "/assets/img/projects/kndu/kndu-thumb.jpg"
date: 2016-01-01
tags: "project"
scope: "Creative Director & Videographer, Editor"
feature: "yes"
---

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/215080046?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Sunday Night Football Promo"
    ></iframe>
  </div>
  <figcaption>"Sunday Night Football" Promo</figcaption>
</figure>

<div class="side-by-side">
  <p>
    While at KNDU-TV, I led creative strategy and production for the station’s
    in-house marketing, helping define its visual identity across news,
    promotions, and community engagement. From on-air graphics to promotional
    spots, I crafted campaigns that boosted brand recognition and viewer
    loyalty.
  </p>
  <p>
    In addition to station marketing, I produced over 100 campaigns for local
    businesses and nonprofits across the Tri-Cities region. Working closely with
    partners from a wide range of industries, I developed tailored advertising
    across broadcast and digital platforms, handling everything from scripting
    and shoot direction to editing and motion graphics. I helped clients connect
    with local audiences and contributed to a 90% retention rate across
    sponsored content.
  </p>
</div>

<div class="project__info">
  <div class="project__info-L"></div>

  <div class="project__info-R">
    <ul>
      <li>Direction</li>
      <li>Videography</li>
      <li>Production</li>
      <li>Editing</li>
      <li>Motion Strategy</li>
      <li>Project Management</li>
    </ul>
  </div>
</div>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214398048?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Push Alerts: Dual Market"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214398001?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="SWX Overtime Fall Promo"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/220564598?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Dialed In with Tracci Dial"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/211357680?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Push Alerts 2"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1051721206?h=943ec87a88&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Legends Casino - April Showers of Cash"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214397880?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Desert Green - DG 20th"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/604437490?h=9273696467&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Water Follies 2017 - Boat Races"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/529143063?h=a0d7a295b3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Fear None | Promo"
    ></iframe>
  </div>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214397782?h=1e808e1dfd&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Kadlec - Classroom Makeover: Ms. Wren"
    ></iframe>
  </div>
</figure>
