---
layout: "layouts/project.njk"
client: "Midnight Society"
title: "Deadrop"
length: "1 Week"
scope: "Producer, Editor, & Videographer"
videoID: "1026695987"
video: "/assets/img/videos/midnight_society_broadcast_design_loop (1080p).mp4"
image: "/assets/img/projects/midnight-society/midnight-society_thumb.jpg"
subtitle: "Unveiling a game built by Call of Duty, Halo, and Fortnite veterans."
date: 2023-03-17
tags: "project"
feature: "no"
order: 0
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026695987?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Midnight Society Loop"
  >
  </iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      A game built by Call of Duty, Halo, and Fortnite veterans. A fan-first
      approach to development. A cinematic event experience.
    </p>
    <p>
      Deadrop was one of the most ambitious early-access FPS titles, developed
      by Midnight Society, a studio founded by ex-developers from some of
      gaming’s biggest franchises. Their "Snapshot" events gave fans an inside
      look at new game builds, feature reveals, and hands-on demo experiences.
    </p>
    <p>
      For this once-in-a-lifetime fan experience, I collaborated with Midnight
      Society’s developers to produce feature videos, motion graphics, and an
      immersive event design package—delivering a cinematic live experience at
      Esports Stadium Arlington.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Motion Strategy</li>
      <li>Videography</li>
      <li>Video Production</li>
      <li>Broadcast Design</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026694239?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="SnapshotV_TheatricalExtractions+SYN_SocialNoTowerKey_HD"
  ></iframe>
</div>

<div class="side-by-side"></div>

<h2 class="project__step-title">Developer Features</h2>
<div class="side-by-side">
  <div>
    <p>
      As a remote studio, Midnight Society's developers aren't often in the same
      room. That's why for their big snapshot event for fans, it was essential
      to be on location with the developers in a rare meetup, to sit down with
      them on-camera, hear them explain the features of their game, and edit
      their interviews into features for the big night. Day 1 consisted of
      sit-downs and editing the raw interviews. On Day 2, I designed motion
      graphics and worked with the developers to capture in-game footage.
    </p>
    <p>
      In just a few days, I was able to execute a full video package, along with
      motion design, social assets to promote the live broadcast, and graphics
      for the arena. The event, with presenting sponsor Cheez-It, was a huge
      success, with thousands of fans filling the arena to see new features
      unveiled, watch influencers compete on the big stage, and get their hands
      on the game at demo stations.
    </p>
  </div>

  <div>
    <div class="video-wrapper wrapper-smaller" style="position: relative">
      <iframe
        src="https://player.vimeo.com/video/1026694069?badge=0&autopause=0&player_id=0&app_id=58479/embed"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        frameborder="0"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      ></iframe>
    </div>
  </div>
</div>

<div class="video-wrapper" style="position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026693978?badge=0&autopause=0&player_id=0&app_id=58479/embed"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
    frameborder="0"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
  ></iframe>
</div>

<h2 class="project__step-title">Broadcast and Arena Design</h2>
<div class="side-by-side">
  <p>
    While on-site at the arena, I built a dynamic motion design system for the
    event's video features, broadcast loops, stingers, and arena billboards.
    With access to developer builds, I captured in-game environments, composited
    seamless loops, and in collaboration with designer Mateo Julia-Wise, we
    rendered extra-wide motion graphics for the massive triple screens at
    Esports Arena, and the various digital billboards throughout the stadium.
  </p>
  <p>
    With the event video and design locked and shipped off to the control room,
    all that was left for me to do was attend the event as a videographer,
    capturing on-the-fly interviews and a wealth of footage for the dev team to
    use on further promotion of the title.
  </p>
</div>
<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026704194?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Midnight Society Loop"
  >
  </iframe>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Arena Visuals Development</li>
    <li>Social Promo Direction</li>
    <li>Animation Direction</li>
    <li>Live Event Support</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
