---
layout: "layouts/project.njk"
client: "Mountain Dew"
agency: "BoomTV"
title: "Mountain Dew Champion's Cup Series"
length: "6 Months"
videoID: "1026261557"
subtitle: "Designing the City of Champions."
video:
  webm: "https://tifajade.b-cdn.net/Mountain%20Dew/mtn%20dew%20loop.webm"
  mp4: "https://tifajade.b-cdn.net/Mountain%20Dew/mtn%20dew%20loop_h264_preview.mp4"
image:
  webp: "/assets/img/projects/mountain-dew-champions-cup/mtn dew loop.00_00_00_00.Still001.webp"
  jpg: "/assets/img/projects/mountain-dew-champions-cup/mtn dew loop.00_00_00_00.Still001.jpg"
date: 2022-07-01
tags: "project"
scope: "Motion Designer, Editor"
feature: "yes"
order: 0
---

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Mountain%20Dew/mtn%20dew%20loop.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/Mountain%20Dew/mtn%20dew%20loop_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <div>
    <h2>The Challenge</h2>
  </div>
  <p>
    Mountain Dew Gaming needed a high-energy esports identity that matched the
    neon, futuristic identity of its brand. Over a series of events, I helped
    define their identity to connect with fans in the gaming space for years to
    come.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-bottle.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-cityhigh.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-roofs.webp"
    alt=""
  />
</div>

<h2>The Solutions</h2>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="position: relative; padding-top: 125%">
      <iframe
        src="https://iframe.mediadelivery.net/embed/418879/f0377bc6-ade9-400f-8c94-6124446fb0db?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
        loading="lazy"
        style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </div>

  <div class="project__info">
    <div class="project__info-L">
      <p class="big">Making Mountain Dew Feel Larger Than Life.</p>
      <p>
        Mountain Dew wanted an esports spectacle that felt monumental. I pitched
        a cyberpunk-inspired cityscape, where a towering skyscraper shaped like
        our physical trophy served as the tournament’s backdrop. Our cinematic
        reveal trailer transported fans straight into the City of Champions,
        unveiling the event, the grand prize, and the trophy in spectacular
        fashion.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%201.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%201_h264_preview.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%202.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%202_h264_preview.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%204.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%204_h264_preview.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%207.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%207_h264_preview.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%206.webm"
      type="video/webm"
      loading="lazy"
    />
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Champions%20Cup%20Loop%206_h264_preview.mp4"
      type="video/mp4"
      loading="lazy"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <p class="big">A Neon-Fueled, High Energy Broadcast Design</p>
  <div>
    <p>
      Seamlessly picking up with the reveal trailer left off, the Champion's Cup
      broadcast experience took viewers directly into the City of Champions,
      with a virtual set, numerous broadcast scenes, energetic stingers, and
      bold, clean visuals.
    </p>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/cs_viewport1.webp"
    alt=""
  />

  <img
    src="/assets/img/projects/mountain-dew-champions-cup/cs_viewport2.webp"
    alt=""
  />
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885424173?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="MTN DEW Code Red CS Showdown Promo"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">A High-Concept Explosion for the CS2 Showdown</p>
  <p>
    For the CS2 Showdown, I directed an explosive, high-energy trailer,
    transforming the Mountain Dew Code Red MVP trophy into a fully animated PC.
  </p>
</div>

<figure>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Mountain%20Dew/Fortnite%202023-07-19%2012-18-33_Trim_h264_crf23.mp4"
      type="video/mp4"
      loading="lazy"
    />

    Your browser does not support the video tag.
  </video>

  <figcaption>
    Using Unreal Engine for Fortnite, we added the custom branded Mountain Dew
    trophy directly into the event as an in-game item.
  </figcaption>
</figure>

<div class="side-by-side">
  <p class="big">
    Bringing Mountain Dew Into the Game With Cross-Media Integration
  </p>
  <p>
    Using Unreal Engine for Fortnite, we placed the custom-built trophy inside
    the game, merging branding with gameplay in a way that felt seamless and
    organic.
  </p>
</div>

<figure>
  <div class="side-by-side">
    <img
      src="/assets/img/projects/mtndew-halo/ab05-artv2-mtndew_assets.webp"
      alt=""
    />
    <img src="/assets/img/projects/mtndew-halo/md_forge__green_.webp" alt="" />
  </div>
  <figcaption>
    Halo Infinite's Forge allowed us to develop branded maps for the Mountain
    Dew: Halo Infinite Community Gauntlet.
  </figcaption>
</figure>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtndew-halo/Halo Announcement v2_h264_crf23.mp4"
    type="video/mp4"
    loading="lazy"
  />

  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <p class="big">Bringing the Halo Community Together</p>
  <p>
    We brought Mountain Dew's series to a thrilling conclusion with the Halo
    Infinite Community Gauntlet, a celebration of Halo’s competitive legacy,
    which saw over 250 longtime Halo players competing across an experience
    deeply rooted in Halo tradition.
  </p>
</div>

<img src="/assets/img/projects/mtndew-halo/slack-imgs.webp" alt="" />

<h2>The Impact</h2>

<div class="side-by-side">
  <p>
    📈 67% of all Halo Infinite Twitch viewership during peak hours came from
    Mountain Dew tournaments.
  </p>
  <p>🔥 2.2M+ Twitter/X views, 740K+ YouTube views, 438K+ Twitch views.</p>
  <p>
    🎯 The Halo Infinite Community Gauntlet format was so popular, 343
    Industries extended its map playlist to include it.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Mountain%20Dew/bomb%20spin_mp4.mp4"
    type="video/mp4"
    loading="lazy"
  />

  Your browser does not support the video tag.
</video>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Modeling & Animation Direction</li>
    <li>Production Oversight</li>
  </ul>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
