---
layout: "layouts/project.njk"
client: "BoomTV"
title: "Next Level: The Rise of Zsmit"
videoID: "1026353184"
subtitle: "Direction, Video Editing, Project Management"
video: "/assets/img/videos/zsmit_loop (1080p).mp4"
image: "/assets/img/projects/next-level/nextLevel_thumb.jpg"
date: 2022-05-01
tags: "project"
scope: "Director & Videographer, Editor"
feature: "no"
---

<div style="position: relative; padding-top: 56.25%">
  <iframe
    src="https://iframe.mediadelivery.net/embed/418879/ca11188d-1a20-4f73-abeb-92b322ee94c6?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
    loading="lazy"
    style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
</div>
<div>
  <div class="side-by-side">
    <div>
      <p class="big">
        When BoomTV producers heard the story of Riley "zSmit" Smith, we knew we
        had to share his story with the world.
      </p>
    </div>
    <p>
      As the producer for Next Level, I led a team of passionate storytellers to
      bring to life the journey of skilled Call of Duty: Warzone player "zSmit,"
      whose rise from humble beginnings to top-earning talent carried a deeper
      emotional weight.
    </p>
  </div>
</div>
<img
  src="/assets/img/projects/next-level/vlcsnap-2025-05-10-20h36m17s895.jpg"
  alt=""
/>

<p>
  From coordinating the logistics of remote production to shaping the doc’s
  narrative structure and guiding interview subjects, I ensured the story was
  compelling, authentic, and engaging for BoomTV’s audience of gamers and fans.
  My focus was on creating a piece that highlights Riley’s trajectory from
  unknown talent to top-earner, while resonating with fans by showcasing the
  personal growth and challenges of a modern esports competitor.
</p>

<img
  src="/assets/img/projects/next-level/vlcsnap-2025-05-10-20h36m32s754.jpg"
  alt=""
/>

<p>
  I worked closely with Riley and his family to source archive images, map out
  his day-to-day life, and conduct introspective pre-interviews that helped
  inform the project and its emotional tone. Directing the film remotely, I
  oversaw on-location shoots and interviews timed with a major esports
  tournament. The result: an immersive, honest portrait of a modern competitor
  under pressure, told through the lens of the challenges that shaped him.
</p>

<figure>
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/bc22dd08-ca75-49cf-85d6-29d9633c495d?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
  <figcaption>The Rise of zSmit: Full Short Film</figcaption>
</figure>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
      <li>Director of Photography: Justin Pagano</li>
    </ul>
  </div>
</div>
