---
layout: "layouts/project.njk"
client: "Gunzilla Games"
agency: "BoomTV"
title: "Off The Grid: All Stars"
length: "2 Weeks"
scope: "Motion Designer"
videoID: "1031855861"
image: "/assets/img/projects/otg-allstars/vlcsnap-2025-02-26-19h52m03s087.webp"
video: "/assets/img/videos/otg_all_stars_loop (1080p).mp4"
subtitle: "A $600K Tournament for a New Esports Franchise."
date: 2024-11-20
tags: "project"
feature: "no"
---

<div class="vimeo-container" style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1031855861?badge=0&amp;autoplay=1&muted=1&loop=1&background=1&controls=0;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="OTG All Stars Loop"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">
    {{ subtitle }}
  </p>
  <p>
    Gunzilla Games’ Off The Grid was still in early access, but its developers
    wanted to launch the game into the competitive scene with a $600K All-Stars
    tournament. The tournament needed to do more than just introduce players to
    Off The Grid—it had to position the game as a serious contender in esports
    while maximizing visibility through Twitch, influencer streams, and social
    media.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/otg-allstars/Starting Soon.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/otg-allstars/Starting Soon_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>The Solution</h2>

  <div class="side-by-side">
    <div>
      <p class="big">A Prestige-Level Esports Identity</p>
      <p>
        We developed a sleek, gold-accented motion system that reflected the
        high-stakes nature of the tournament, ensuring Off The Grid events
        looked visually distinct from other battle royales.
      </p>
    </div>
    <div>
      <p class="big">A Streamlined Broadcast Experience</p>
      <p>
        The motion system was fully integrated across the official tournament
        stream and player-led broadcasts, ensuring seamless, professional
        branding across all touchpoints.
      </p>
    </div>
    <div>
      <p class="big">High-Impact Cinematic Elements for Maximum Engagement</p>
      <p>
        From dynamic lower thirds to bold animated transitions, every element
        was crafted to keep viewers engaged and elevate the game’s competitive
        presence.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Casters.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/otg-allstars/Casters_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/leaderboard_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/prizing_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/leaderboard 2_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Highlights_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/champions_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Replay_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<h2>The Impact</h2>

<div class="side-by-side">
  <p>
    📈 The tournament generated 93,000+ peak concurrent viewers across Twitch
    player streams, proving strong audience demand for Off The Grid esports.
  </p>
  <p>
    🔥 The event accumulated 325,000+ hours watched, positioning Off The Grid as
    an emerging title in the competitive FPS space.
  </p>
  <p>
    🎯 The high-end motion system helped solidify the game’s brand identity,
    ensuring its entry into the esports market felt premium and polished.
  </p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Motion System Development</li>
    <li>Brand Guidelines Author</li>
    <li>Animation Direction</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>
        Graphic Design:{% include "includes/mateo.html" %}
      </li>
    </ul>
  </div>
</div>
