---
layout: "layouts/project.njk"
client: "P3 Protein"
agency: "UFC"
title: "The Fight Life"
length: "4 Months"
videoID: "1026298680"
subtitle: "Highlighting a brand through authentic, personal storytelling.
"
image: "/assets/img/projects/p3/vlcsnap-2025-02-26-19h55m01s749.webp"
video: "/assets/img/videos/p3_aljamain_sterling__30_espn_tv_spot (1080p).mp4"
date: 2021-05-02
tags: "project"
scope: "Video Editor"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/598548715?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="P3 Aljamain Sterling :30 ESPN TV Spot"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Highlighting a brand through authentic, personal storytelling.
    </p>
    <p>
      For P3, I had the opportunity to work on a series of documentary style
      videos featuring select UFC fighters. Working with UFC Champion Aljamain
      Sterling, Donald Cerrone, and Maurice Greene, I collaborated with UFC's
      production team to tell unique stories about the lives of each fighter,
      incorporating how they use P3 portable protein snacks to stay fueled
      throughout the day.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Video Editing</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://www.youtube.com/embed/1JztoDf7pXA?si=L278oWWCbEbzThkP"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="YouTube video player"
  ></iframe>
</div>

<div>
  <h2>The Challenge</h2>
  <div class="side-by-side">
    <p>
      1. P3 wanted to go beyond standard sponsorship—this wasn’t just about logo
      placements or product shots. The challenge was to authentically integrate
      P3 into real UFC fighter routines, making it feel like a natural part of
      their training lifestyle.
    </p>
    <p>
      2. The features needed to highlight the fighters first, the brand
      second—ensuring that P3’s message was woven into the storytelling, rather
      than feeling like a traditional ad.
    </p>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://www.youtube.com/embed/jIg47UtMT9o?si=gEo3c51_hlmefaDQ"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="YouTube video player"
  ></iframe>
</div>

<div>
  <h2>The Solution</h2>
  <p class="big">A Documentary Approach to Brand Storytelling</p>
  <p>
    Each feature was shot and edited in a cinematic, behind-the-scenes style,
    giving fans an intimate look at the fighters’ daily lives. With my
    experience in documentary storytelling, it felt like a natural fit to
    gravitate towards this style of storytelling, using training footage,
    personal interviews, and high-energy fight prep sequences to make the
    content feel raw and real.
  </p>
  <p>
    Instead of forced product placement, P3 was naturally embedded into the
    fighters’ nutrition routines, gym sessions, and on-the-go
    moments—reinforcing its role as a performance-focused brand.
  </p>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://www.youtube.com/embed/xDqyyQVwlmw?si=oSPPT0r43G-kuplz"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="YouTube video player"
  ></iframe>
</div>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <div>
      <p class="big">A Brand Story That Resonated with UFC Fans</p>
      <p>
        The series successfully positioned P3 as a nutrition brand trusted by
        elite fighters, helping it gain stronger visibility within the UFC
        audience.
      </p>
    </div>
    <div>
      <p class="big">
        A Fighter-First Approach That Strengthened P3’s Presence in MMA
      </p>
      <p>
        By prioritizing authentic storytelling, the campaign gave P3 genuine
        credibility in the combat sports world, elevating its long-term brand
        association with UFC.
      </p>
    </div>
  </div>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Editorial Direction</li>
    <li>Brand Integration</li>
    <li>Video Production</li>
  </ul>
</div>
