---
layout: "layouts/project.njk"
client: "Staring At The Sun"
title: "Sungazer"
length: "1 Month"
scope: "Motion Designer"
video: "/assets/img/projects/sats/sungazer art_h264_preview.mp4"
image: "/assets/img/projects/sats/sungazer_art_HD_0002.webp"
subtitle: "Designing a Multimedia Visual Album Experience."
date: 2025-01-13
tags: "project"
feature: "no"
---

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/sats/sungazer art_h264_preview.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/sats/sungazer art_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2>The Challenge</h2>

<div class="side-by-side">
  <p class="big">{{ subtitle }}</p>
  <p>
    Staring at the Sun wanted a visual identity that extended beyond traditional
    album artwork—something that could evolve alongside their music, build an
    interactive narrative, and engage audiences across streaming platforms and
    social media. My role was to develop a cohesive 3D animated aesthetic that
    translated seamlessly across Spotify Canvas loops, animated music videos,
    and cryptic promotional content that would tease future releases.
  </p>
</div>

<figure>
  <div class="side-by-side">
    <img src="/assets/img/projects/sats/single-cover-text.webp" alt="" />
    <img src="/assets/img/projects/sats/single-cover-notext.webp" alt="" />
  </div>
  <figcaption>Sungazer - Single Artwork</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">Crafting a Cinematic Visual Identity</p>
  <p>
    Sungazer's single artwork is a 3D rendering made entirely in Blender. We
    iterated on different motion designs for a Spotify canvas, including an
    animated version of the artwork. Our chosen direction emphasized the lore
    and worldbuilding we're developing for the project.
  </p>
</div>
<iframe
  style="border-radius: 12px; margin: 0 auto"
  src="https://open.spotify.com/embed/track/6tAxiMKuhBx8AMGca13PN0?utm_source=generator"
  width="75%"
  height="352"
  frameBorder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>
<div class="side-by-side">
  <img src="/assets/img/projects/sats/viewport1.jpg" alt="" />
  <img src="/assets/img/projects/sats/viewport2.jpg" alt="" />
</div>
<div class="side-by-side">
  <p class="big">Designed for Multi-Platform Engagement</p>
  <p>
    I produced looping Spotify Canvas animations, teaser trailers, and
    short-form promotional assets, ensuring a unified aesthetic across music
    streaming platforms, social media, and YouTube.
  </p>
</div>
<div class="side-by-side">
  <p class="big">Expanding the Narrative Through Hidden Details</p>
  <p>
    The visuals were designed to tease cryptic messages and hidden lore
    elements, making the project more than just an album—it became an
    interactive storytelling experience.
  </p>
</div>
<div class="side-by-side">
  <figure>
    <video autoplay loop muted playsinline>
      <source
        src="/assets/img/projects/sats/Sungazer_Canvas_HD_h264_preview.webm"
        type="video/webm"
      />
      <source
        src="/assets/img/projects/sats/Sungazer_Canvas_HD_h264_preview.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <figcaption>Sungazer - Spotify Canvas Loop</figcaption>
  </figure>
  <figure>
    <video autoplay loop muted playsinline>
      <source
        src="/assets/img/projects/sats/Sungazer_FlowerLoop_h264_crf23.webm"
        type="video/webm"
      />
      <source
        src="/assets/img/projects/sats/Sungazer_FlowerLoop_h264_crf23.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <figcaption>Alternate Canvas Loop</figcaption>
  </figure>
</div>

<p>
  The visuals for Sungazer are only the first small step of this project, and I
  plan to update this page as we continue to release more artwork together. For
  now, check out the band's debut single
  <a
    href="https://distrokid.com/hyperfollow/staringatthesun2/sungazer-2/"
    target="_blank"
    style="opacity: 0; animation: 1s ease-out 0.36s both fadein-scale"
    >on your music platform of choice!</a
  >
</p>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Art Direction</li>
    <li>Animation Direction</li>
    <li>Marketing Strategy</li>
  </ul>
</div>

<div class="contributions">
  <h3>Credits</h3>

  <ul>
    <li>Lettering: Zam Ortega</li>
  </ul>
</div>
