---
layout: "layouts/project.njk"
client: "Tfue & Epic Games"
agency: "BoomTV"
title: "Tfue Tuesday"
length: "3 Weeks"
videoID: "1026622499"
subtitle: "Capturing the comic book storyline of Fortnite's Top Influencer."
video: "/assets/img/projects/tfue-tuesday/tfueloopv2_h264_preview.mp4"
image: "/assets/img/projects/tfue-tuesday/tfue-thumb.jpg"
date: 2023-03-01
tags: "project"
scope: "Creative Director & Producer"
feature: "yes"
order: 5
quote: "[Tfue Tuesday] showcased Fortnite Zero Build at its finest."
author: "esports.gg"
citation: "https://esports.gg/news/fortnite/fortnite-bans-sues-and-forces-apology-from-pro-player-repulsegod-over-fncs-account-sharing-scandal/"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026622499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Announcement Teaser"
  ></iframe>
</div>

<div class="side-by-side">
  <h2>The Challenge</h2>
  <p>
    Tfue’s $100K Fortnite tournament needed an identity as bold and high-energy
    as his audience. The goal: create a visually distinct, fast-evolving brand
    that felt instantly iconic.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/tfue-tuesday/Tfue 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/tfue-tuesday/Tfue 2_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/tfue-tuesday/Tfue 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/tfue-tuesday/Tfue 3_h264_preview.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div>
  <h2>The Solution</h2>

  <div class="side-by-side">
    <p class="big">The Birth of a Franchise</p>
    <p>
      I looked to the classics for inspiration on an ongoing narrative: comic
      books. The Tfue Tuesday brand debuted as a graphic novel-inspired event,
      giving it a dynamic, evolving visual identity that instantly communicated
      there was more to come.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <p class="big">Franchise-Fueled Branding That Scales</p>
  <p>
    For Vol. 2, we were tasked with debuting a new event just one week away,
    which is exactly what Tfue Tuesday was designed for. Expanding on its
    instantly recognizable logo and design with a new look and feel, developing
    a refreshed look for Vol. 2 in just under a week was a challenge we prepared
    for from Day 1.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <figure>
    <img src="/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp" alt="" />
    <figcaption>
      BoomTV's Teaser for Vol. 2, featuring an original 3D render giving a peek
      at the new style.
    </figcaption>
  </figure>

  <figure>
    <img
      src="/assets/img/projects/tfue-tuesday/Screenshot 2025-01-29 141047.webp"
      alt=""
    />
    <figcaption>Screenshot of Tfue's announcement post.</figcaption>
  </figure>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885442280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Returns Promo"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">A Comic Book Staple: The Return</p>
  <p>
    After taking a very public hiatus from the streaming world, Tfue eventually
    returned to the spotlight. For Vol. 3, I aimed to capture the classic comic
    book storylines about a hero's return. Tfue returned to streaming with a new
    installment of Tfue Tuesday, making the event feel like a cultural moment in
    competitive Fortnite.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4_h264_preview.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tfue-tuesday/$100,000 Tfue Tuesday featuring Fortnite ｜ The RETURN of Tfue ｜ !leaderboard [886208917].mp4.00_00_07_27.Still001.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/tfue-tuesday/True Tuesday Returns Stinger [2874168307].mp4.00_00_05_03.Still001.webp"
    alt=""
  />
</div>

<h2>The Impact</h2>
<div class="side-by-side">
  <p>
    📈 Vol. 1 raked in 532K+ hours watched with 156K peak viewers, and Vol. 3
    pulled in numbers to match, making Tfue Tuesday a highly anticipated,
    must-watch series.
  </p>
  <p>
    🎨 We created an instantly recognizable tournament series that Fortnite fans
    engaged with long-term.
  </p>
  <p>
    🚀 Tfue’s return to streaming with Tfue Tuesday Vol. 3 was a major cultural
    moment for the Fortnite community.
  </p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Environment & Logo Development</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>
<div class="contributions">
  <h2>Credits</h2>
  <ul>
    <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul></ul>
  </div>
</div>
