---
layout: "layouts/project.njk"
client: "Tiny Pond"
title: "Tiny Pond Studio"
videoID: "1026235970"
subtitle: "Building a visual motion identity for an independent creative studio bursting with talent."
scope: "Web Development, Brand Identity, Motion design"
image: "/assets/img/projects/poster_1.1.1.jpg"
video: "/assets/img/projects/tiny-pond/TinyPond_PushIn_FullWidth.webm"
date: 2024-07-01
tags: "project"
feature: "yes"
order: "-2"
---

<div class="vimeo-container" style="padding: 37.5% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1024238430?h=37b57b3115&amp;autoplay=1&muted=1&loop=1&background=1&controls=0;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="tinyPond_forestLoop"
  ></iframe>
</div>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Laying the ground work with an engaging, animated website and motion
      design system for a fresh, independent creative design studio.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>3D Animation</li>
      <li>Creative Direction</li>
      <li>Website</li>
    </ul>
  </div>
</div>

<figure>
  <div class="side-by-side">
    <img
      src="/assets/img/projects/tiny-pond/research/inspiration.webp"
      alt=""
    />

    <img
      src="/assets/img/projects/tiny-pond/research/font exploration 2.webp"
      alt=""
    />
  </div>
  <figcaption>Branding and Font Inspiration</figcaption>
</figure>
<figure>
  <div class="side-by-side">
    <img
      src="/assets/img/projects/tiny-pond/research/logos and branding concept.webp"
      alt=""
    />
    <img
      src="/assets/img/projects/tiny-pond/research/initial branding.webp"
      alt=""
    />
  </div>
  <figcaption>Initial Logo and Branding Concepts</figcaption>
</figure>

<h2>Concept</h2>

<div class="side-by-side">
  <p class="big">
    A bold set of 3D visuals centered around a fantasy-inspired glowing pond
    evokes creativity and growth.
  </p>
  <p>
    Rooted in the studio’s organic origins, Tiny Pond’s branding revolves around
    a glowing pond. Using Blender, I crafted a vibrant 3D environment teeming
    with life — dancing fireflies, animated ripples, and lush, swaying foliage —
    capturing the studio’s essence in motion. For the website, I seamlessly
    integrated designs by Mateo Julia-Wise into this environment, showcasing the
    studio's graphical offerings within our unique branded landscape.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tiny-pond/research/original concept website.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/tiny-pond/research/old pond 3D 2.webp"
    alt=""
  />
</div>

<h2>Research & Development</h2>

<div class="side-by-side">
  <p class="big">
    A bold set of 3D visuals centered around a fantasy-inspired glowing pond
    evokes creativity and growth.
  </p>
  <p>
    Rooted in the studio’s organic origins, Tiny Pond’s branding revolves around
    a glowing pond. Using Blender, I crafted a vibrant 3D environment teeming
    with life — dancing fireflies, animated ripples, and lush, swaying foliage —
    capturing the studio’s essence in motion. For the website, I seamlessly
    integrated designs by Mateo Julia-Wise into this environment, showcasing the
    studio's graphical offerings within our unique branded landscape.
  </p>
</div>
<figure>
  <div class="iframe-container">
    <iframe
      src="https://tinypond.studio"
      frameborder="0"
      allowfullscreen
      loading="lazy"
      title="Tiny Pond Studio Website"
    ></iframe>
  </div>
  <figcaption>
    Embed of the Tiny Pond website. If you are on a mobile device this probably
    looks weird! Visit
    <a href="https://tinypond.studio" target="_blank" rel="noopener noreferrer"
      >tinypond.studio</a
    >
    to check out the full site.
  </figcaption>
</figure>

<h2 class="project__step-title">Web Design</h2>

<div class="side-by-side">
  <p class="big">
    Deep blues, vibrant greens, and a touch of pink bring together a color
    scheme that feels connected with nature.
  </p>
  <p>
    A design-first website showcases the studio's animation capabilities with
    videos showcased on arrival, while the responsive services section outlines
    a diversity of offerings, making it easy for clients to understand the
    studio's offerings alongside the expansive portfolio section. My goal was to
    build a seamless experience that invites exploration and encourages
    potential clients to engage with Tiny Pond's portfolio and offerings.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
