---
layout: "layouts/project.njk"
client: "UFC"
agency: "UFC"
title: "UFC Promos & Fight Pass"
length: "Ongoing"
videoID: "1026298680"
subtitle: "Shaping the Narrative of Combat Sports."
video: "/assets/img/videos/UFC Loop_h264_crf23.mp4"
image: "/assets/img/projects/ufc/ufc-thumb.jpg"
date: 2021-01-01
tags: "project"
scope: "Video Editor"
feature: "yes"
order: "2"
---

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221189?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 246 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 246: McGregor vs. Cowboy Promo</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">
    {{ subtitle }}
  </p>
  <div>
    <p>
      At UFC, every promo, every documentary, and every social post needs to
      capture the intensity, rivalries, and personal stakes that fuel the
      sport’s biggest moments.
    </p>
    <p>
      My work at UFC required translating raw fight footage into high-energy
      promos that build anticipation for pay-per-view events, developing
      long-form originals that offer deep dives into fighters’ careers, and
      aligning branded partnerships with UFC’s authentic storytelling.
    </p>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221727?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 252 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 252: Miocic vs. Cormier III Promo</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">Building the Hype for Iconic Fights</p>
  <p>
    From McGregor vs. Cowboy to Miocic vs. Cormier III, I shaped the narratives
    behind UFC’s biggest showdowns, crafting fight promos that drove millions in
    pay-per-view sales. By digging into the archives, selecting the most
    defining moments, and structuring promos for maximum impact, I helped fuel
    the excitement that made these fights must-watch events.
  </p>
</div>

<figure>
  <div class="youtube-container">
    <iframe
      src="https://www.youtube.com/embed/8DCxRxqeqVw?si=bR39z-0ZKt5xcl9n"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <figcaption>UFC 231: The Thrill and the Agony, Excerpt</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">Long-Form Storytelling for Hardcore Fans</p>
  <p>
    I worked on UFC Originals series like Fight Flashback, Greatest Fights, and
    Profiles in Combat, delivering in-depth storytelling that gave fans a deeper
    look at the sport. With access to thousands of hours of footage, interviews,
    and press conferences, I crafted compelling narratives that connected
    viewers to the history and personalities that shaped the UFC.
  </p>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567220914?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Yoel Beats to Study To"
    ></iframe>
  </div>

  <figcaption>UFC 248: Unique Social Promo</figcaption>
</figure>

<div class="side-by-side">
  <p class="big">Branded Content That Feels Organic</p>
  <p>
    From Modelo to Marvel, I helped develop sponsor-driven content that
    seamlessly fit within UFC’s storytelling framework. Whether it was
    integrating sponsor messaging into fighter narratives or creating
    promotional content that aligned with a brand’s identity, I ensured each
    partnership felt natural and engaging for UFC’s audience.
  </p>
</div>
<!-- <div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/644598304?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Disabled Veterans of America | UFC Memorial Visit"
  ></iframe>
</div> -->

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/629608351?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="ZipRecruiter | Brandon Moreno"
    ></iframe>
  </div>
  <figcaption>UFC x Ziprecruiter: Branded Content</figcaption>
</figure>

<h2>The Impact</h2>
<div class="side-by-side">
  <p>📈 650M+ UFC social media followers reached with promotional content.</p>
  <p>
    🔥 Helped shape major UFC PPV event narratives, driving millions in PPV
    sales.
  </p>
  <p>💡 Notable partnerships with Modelo, Marvel, ZipRecruiter, and Timex.</p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Post-Production Direction</li>
    <li>Motion Strategy</li>
  </ul>
</div>
