---
layout: "layouts/project.njk"
client: "Verizon x Xbox"
agency: "BoomTV"
length: "2 Months"
title: "Verizon All Access Series"
subtitle: "Bringing Competitive Spirit to Casual Games, For Verizon and Xbox."
video: "/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23.mp4"
image: "/assets/img/projects/skyblock-showdown/skyblock.webp"
date: 2022-11-28
tags: "project"
scope: "Creative Director & Producer"
feature: "yes"
---

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <h2>The Challenge</h2>

  <p>
    Unlike traditional esports titles, Sea of Thieves & Minecraft don’t have
    built-in competitive formats. The goal was to design thrilling tournaments
    from scratch while integrating Verizon & Xbox branding organically.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop1_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<img src="/assets/img/projects/skyblock-showdown/skyblock.webp" alt="" />

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1025896604?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Minecraft: Skyblock Showdown Announcement Trailer"
    ></iframe>
  </div>
  <figcaption>Minecraft: Skyblock Showdown Reveal Trailer</figcaption>
</figure>

<h2>The Solution</h2>

<div class="side-by-side">
  <div>
    <p class="big">A Custom-Built Survival Arena for Influencer Competition</p>
  </div>
  <div>
    <p>
      For Minecraft, I brought on Starfish Studios to create a custom-branded
      tournament world, integrating Xbox & Verizon branding directly into the
      game environment.
    </p>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168735?h=0b0b173dbf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Bilge Rat Bingo | Show Open"
    ></iframe>
  </div>
  <figcaption>Bilge Rat Bingo Show Opener</figcaption>
</figure>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1044168719?h=5b9d5978f6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Sea of Thieves - Bilge Rat Bingo Trailer"
  ></iframe>
</div>

<div>
  <div class="side-by-side">
    <p class="big">Competitive Mayhem on the High Seas</p>
    <div>
      <p>
        For Sea of Thieves, I helped develop Bilge Rat Bingo & Holiday Clash,
        turning the open-world pirate game into an unpredictable, competitive
        battleground.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/sea-of-thieves/SoT_HolidayClashAnnounce_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div>
    <p class="big">Bringing Competitive Spirit to the Holidays</p>

    <p>
      With 1,400 average concurrent viewers and 200K social impressions, Holiday
      Clash reinforced Sea of Thieves as a community-driven competitive sandbox,
      proving the tournament format’s long-term potential.
    </p>
  </div>
</div>

<h2>The Impact</h2>
<div class="side-by-side">
  <p>
    📈 1.6M+ social impressions, 529K+ hours watched, and 7K+ total engagements.
  </p>
  <p>
    🎮 Xbox Game Pass tournaments reinforced that casual gaming can be highly
    competitive.
  </p>
  <p>💡 A foundational tournament format that continues to scale.</p>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Production Management</li>
    <li>Social Promo Strategy</li>
    <li>Animation Direction</li>
  </ul>
</div>

<div class="contributions">
  <h2>Credits</h2>
  <ul>
    <li>Minecraft Map Development: Starfish Studios</li>
    <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
