---
layout: "layouts/project.njk"
client: "Mountain Dew CS2 Showdown"
videoID: "885424173"
subtitle: "Animation Direction, Broadcast Design, 3D Modeling, Motion Design, Trailer Direction"
video: "/assets/img/videos/mtn_dew_code_red_cs_showdown_promo (1080p).mp4"
image: "/assets/img/projects/mtn-dew-cs/thumb.jpg"
date: 2022-12-15
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885424173?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="MTN DEW Code Red CS Showdown Promo"
  ></iframe>
</div>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      A high concept announcement trailer for Mountain Dew's Counter-Strike
      showmatch.
    </p>
    <p>
      Mountain Dew sought a high energy, brand centric trailer to announce their
      big influencer showdown. To kick off the event, I crafted a Mountain Dew
      Code Red themed PC, using Mountain Dew's winner trophy as the skeleton,
      kitbashing PC parts, and modeling a CS-style bomb to detonate at the end
      of the virtual PC flythrough, revealing the game title and event details.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>3D Modeling</li>
      <li>Announcement Trailer</li>
      <li>Motion Strategy</li>
    </ul>
  </div>
</div>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/cs viewport animation0001.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport1.webp" alt="" />

  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport2.webp" alt="" />
</div>
<div class="side-by-side">
  <p>
    The team at Mountain Dew Gaming was hyped about the video, and fans on
    social media loved the concept. As a computer nerd and DIY PC builder, I
    will disclose that there is nothing functional about this PC, as I modeled
    it strictly to look cool, not be accurate. There are multiple motherboards,
    graphics cards, hard drives, and other junk in there that simply wouldn't
    make a functional PC in the real world, but it's nice to look at!
  </p>
  <p>
    To end the video and transition to the event's title card, I referenced
    Counter-Strike's iconic C4 bomb, modeling my own rendition with an explosive
    transition.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/bomb spin_mp4.mp4"
    type="video/webm"
  />

  Your browser does not support the video tag.
</video>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
