---
layout: "layouts/project.njk"
client: "Proving Grounds"
videoID: "1025757611"
subtitle: "Motion Design System, Broadcast Design, Animation Direction"
video: "/assets/img/videos/pg_previewloop (1080p).mp4"
image: "/assets/img/projects/proving-grounds/PG Imgs/apexladies.webp"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
feature: "no"
---

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025757611?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">A facelift for a beloved community franchise.</p>
    <p>
      Supporting the amateur esports community, Proving Grounds hosts
      tournaments for up and coming esports stars, where anyone can compete to
      prove their skills, win prizes, and have fun in a friendly competitive
      environment. To get players excited for another year of Proving Grounds
      events, my team took on the challenge of adapting the brand's iconography
      for a new ear of competition.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <p class="">
    Building on the original branding and logo, I worked with designer Mateo
    Julia-Wise on this refresh, leaning deeply on streaks of color, a modern
    tech core, and a mixture of gritty textures and hand-drawn accents.
  </p>
  <p>
    The resulting style captures the unique community-driven nature of Proving
    Grounds, nurturing an environment where players gather for friendly yet
    serious competition, where anything can happen, and every player can be on
    the cusp of explosive greatness.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 75% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/908806528?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>

  <div>
    <p class="big">Propeling players into 2024 with a bang.</p>
    <p>
      Combining noise and grain, mixed frame rates, and flashing patterns, I
      attempted to amplify the unapologetically intense style that captures the
      tournament's spirit.
    </p>
    <p>
      The branding reveal video, directed and edited by myself, gives players
      and fans a glimpse at the style, before revealing our new motion design
      elements and backgrounds in explosive fashion, with a bumper that signals
      the tournament’s return for excited players.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Casters.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/Sting.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/Sting.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <div>
    <p class="big">Frenetic. Hand-drawn. Iconic.</p>
    <p>
      A versatile motion system creates a cohesive and instantly recognizable
      animation style for Proving Grounds, from social media posts to Twitch
      broadcasts.
    </p>
  </div>
  <p>
    For live broadcasts, social media assets, website elements, and anything
    in-between, my goal was to make the new Proving Grounds animations instantly
    recognizable no matter the screen size or platform.
  </p>
</div>
<div class="side-by-side"></div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
