---
layout: "layouts/project.njk"
client: "Minecraft"
subtitle: "Cinematics Capture, Video Editing, Motion Design, Trailer Direction"
video: "/assets/img/videos/skyblock showdown_web.mp4"
image: "/assets/img/projects/skyblock-showdown/skyblockThumb.jpg"
date: 2023-01-23
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025896604?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Minecraft: Skyblock Showdown Announcement Trailer"
  ></iframe>
</div>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Collaborating with the team at Starfish Studios, I produced an
      announcement trailer for Xbox's Skyblock Showdown Minecraft event,
      presented by Verizon.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Video Editing</li>
      <li>Motion Strategy</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
      <li>Map: Starfish Studios</li>
    </ul>
  </div>
</div>
