---
layout: "layouts/project.njk"
client: "Valorant Select"
description: "Tifa Jade - Reel | Montage of my favorite keyframed work"
image: "/assets/img/projects/influencer comp.webp"
date: 2024-10-02
tags: "project"
scope: "Motion Design & Animation Direction"
---

<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Description of image 2"
/>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus
      doloribus dolore ipsa veritatis sit quam. Sequi tempore voluptas sunt
      numquam tenetur blanditiis ipsum? In, perspiciatis tempora dicta minima
      laborum, doloribus eligendi rerum sequi voluptate repudiandae corrupti
      voluptatum incidunt eum ea animi voluptates sed nesciunt! Tenetur
      molestias suscipit voluptates. Sapiente quaerat, voluptas nemo harum totam
      adipisci dolorem laboriosam? Natus ipsum veniam quod tempore optio
      accusamus. Corporis dolorum nihil voluptatibus ratione quos veniam
      laudantium praesentium accusamus illo hic ipsum ducimus ullam, beatae
      fugit, maiores reiciendis blanditiis! Quia assumenda explicabo ea pariatur
      dolorem?
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Music</li>
      <li>Branding</li>
    </ul>
  </div>
</div>

<img src="/assets/img/projects/poster_1.1.1.jpg" alt="Description of image 3" />
<img src="/assets/img/projects/reunion-bg.webp" alt="Description of image 4" />
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus doloribus
  dolore ipsa veritatis sit quam. Sequi tempore voluptas sunt numquam tenetur
  blanditiis ipsum? In, perspiciatis tempora dicta minima laborum, doloribus
  eligendi rerum sequi voluptate repudiandae corrupti voluptatum incidunt eum ea
  animi voluptates sed nesciunt! Tenetur molestias suscipit voluptates. Sapiente
  quaerat, voluptas nemo harum totam adipisci dolorem laboriosam? Natus ipsum
  veniam quod tempore optio accusamus. Corporis dolorum nihil voluptatibus
  ratione quos veniam laudantium praesentium accusamus illo hic ipsum ducimus
  ullam, beatae fugit, maiores reiciendis blanditiis! Quia assumenda explicabo
  ea pariatur dolorem?
</p>
<img
  src="/assets/img/projects/broadcast-1x.webp"
  alt="Description of image 1"
/>
<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Description of image 2"
/>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: Mateo JW</li>
      <li>Design: JW</li>
    </ul>
  </div>
</div>
