---
layout: "layouts/project.njk"
client: "The Ethernaut"
subtitle: "Writing, Directing, Editing, VFX"
image: "/assets/img/projects/student/ethernaut.jpg"
date: 2016-01-01
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/411847972?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="The Ethernaut (2016)"
  ></iframe>
</div>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      This short film about a high school boy juggling love and an existential
      crisis was my senior capstone project at Eastern Washington University.
    </p>
    <p>
      It screened at multiple festivals throughout the Pacific Northwest,
      received an award for Most Promising Director at the 2016 Spokane
      International Film Festival, and was shortlisted for a Student Academy
      Award.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Direction</li>
      <li>Writing</li>
      <li>Editing</li>
      <li>Visual Effects</li>
    </ul>
  </div>
</div>
