<!-- {% include "includes/header-project.html" %}
<main id="main">
  <article>
    <div id="top"></div>
    {% include "includes/nav.html" %}
    <div class="wrapper wrapper-home">
      <div class="layout-main wrapper-m project-layout">
        {{ content | safe }}

        <h2>More Projects:</h2>

        {# Get the current project's URL #} {% set currentUrl = page.url %} {%
        set currentIndex = -1 %} {# Loop through the sorted collection to find
        the current project index #} {% for project in collections.video %} {%
        if project.url == currentUrl %} {% set currentIndex = loop.index0 %} {%
        endif %} {% endfor %} {# Set next1 and next2 to always show the next two
        projects, wrapping around #} {% set next1 =
        collections.video[(currentIndex + 1) % collections.video | length] %} {%
        set next2 = collections.video[(currentIndex + 2) % collections.video |
        length] %} {# Include the "explore more" section #} {% include
        "includes/explore-more.html" %}
      </div>
    </div>
  </article>
</main>
{% include "includes/footer.html" %} -->

{% include "includes/header-project.html" %}
<main id="main">
  <article>
    <div id="top"></div>
    {% include "includes/nav.html" %}
    <div class="wrapper wrapper-home">
      <div class="layout-main wrapper-m project-layout">
        {{ content | safe }}

        <h2>More Projects:</h2>

        {# Get the current project's URL #} {% set currentUrl = page.url %} {%
        set currentIndex = -1 %} {# Loop through the projects to find the
        current index #} {% for project in collections.animation %} {% if
        project.url == currentUrl %} {% set currentIndex = loop.index0 %} {%
        endif %} {% endfor %} {# Set next1 and next2 to always show the next two
        projects, wrapping around #} {% set next1 =
        collections.animation[(currentIndex + 1) % collections.animation |
        length] %} {% set next2 = collections.animation[(currentIndex + 2) %
        collections.animation | length] %} {% include
        "includes/explore-more.html" %}
      </div>
    </div>
  </article>
</main>
{% include "includes/footer.html" %}
