{% include "includes/showreel-overlay.html" %}


<footer class="footer" id="contact">
    <h2 class="visually-hidden">Footer</h2>
<div class="footer__wrapper wrapper-f">
  <!-- {% include "includes/funfacts.html" %} -->
</div>

    <div class="footer__wrapper wrapper-f two-col">

      <div class="footer__info">
        {% include "includes/contact-intro.html" %}
             
      {% include "includes/contact-form.html" %}

      </div>


          
    </div>
    {% include "includes/backtotop.html" %}
    {% include "includes/legal.html" %}


</footer>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="/app/js/calendly.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/connect-tifajade/30min?primary_color=007a50', text: 'Schedule a Call With Me', color: '#007a50', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->

<script src="/app/js/fadein.js" defer></script>
<script src="/app/js/darkmode.js" defer></script>
<script src="/app/js/nav.js" defer></script>
<script src="/app/js/showreel.js" defer></script>
<script src="/app/js/footer.js" defer></script>
<script src="/app/js/header.js" defer></script>

<script src="/app/js/togglelogo.js" defer></script>
<script src="/app/js/tooltip.js" defer></script>
<script src="/app/js/hover.js" defer></script>
<!-- <script src="/app/js/funfacts.js"></script> -->
<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->

</body>
</html>
