<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.author }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{ image | absoluteImage }}" />
<meta property="og:image:alt" content="{{ client }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ client }}{% endif %}" />
<meta name="twitter:description" content="{% if subtitle %}{{ subtitle }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:image" content="{{ image | absoluteImage }}" />
<link rel="preload" href="/assets/fonts/Rethink-Sans/RethinkSans-Regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/Hahmlet/Hahmlet-Regular.woff2" as="font" type="font/woff2" crossorigin />
