---
layout: "layouts/base.html"
client: "About Tifa Jade"
subtitle: "Tifa Jade is a Creative Producer and Motion Artist leading video and animation projects for global brands."
description: "Tifa Jade is a Creative Producer and Motion Artist leading video and animation projects for global brands."
---

{% include "includes/nav.html" %}
<div class="wrapper wrapper-home">
  <div class="layout-main wrapper-a">
    <h1 class="visually-hidden">{{ title }}</h1>

    {% include "includes/about-slideshow.html" %}
  </div>
</div>

<script src="/app/js/slideshow.js"></script>
