---
layout: "layouts/base.html"
client: "About Tifa Jade"
subtitle: "Empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
description: "Tifa Jade is an animator and creative director empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
---

{% include "includes/nav.html" %}
<div class="wrapper wrapper-home">
  <div class="layout-main wrapper-a">
    <h1 class="visually-hidden">{{ title }}</h1>

    {% include "includes/about_bio.html" %}

  </div>
</div>

<script src="/app/js/slideshow.js"></script>
