---
layout: "layouts/homepage.html"
client: "Tifa Jade | Creative Producer, Animation, Motion Design, 3D Art"
subtitle: "Tifa Jade is a Creative Producer, Animator, and Filmmaker leading creative projects for global brands"
description: "Tifa Jade is a Creative Producer, Animator, and Filmmaker leading creative projects for global brands."
---

{% include "includes/nav.html" %}

<div id="scroll-point" class="wrapper wrapper-home">
  <div class="layout-main wrapper-h">
    <div class="intro-text">
      <div class="side-by-side">
        <div>
          <h1 class="about__title visually-hidden">Tifa Jade</h1>
        </div>
      </div>
    </div>
    <h2 class="category-title">
      Tifa Jade is a Creative Director and Video Producer leading projects for
      global brands.
    </h2>
    <div class="intro" id="animation">
      {% include "includes/gallery.html" %}
    </div>
  </div>
</div>
