---
layout: "layouts/homepage.html"
client: "Tifa Jade | Creative Producer, Digital Content Strategist"
subtitle: "Tifa Jade is a Creative Producer and Digital Content Strategist
leading video and animation projects for global brands."
description: "Tifa Jade is a Creative Producer and Digital Content Strategist
leading video and animation projects for global brands."
---

{% include "includes/nav.html" %}

<div id="scroll-point" class="wrapper wrapper-home">
  <div class="layout-main wrapper-h">
    <div class="intro-text">
      <div class="side-by-side">
        <div>
          <h1 class="about__title visually-hidden">Tifa Jade</h1>
          <h2 class="title">
            Multidisciplinary Creative Director, Motion Designer, Web Developer,
            Filmmaker, Storyteller.
          </h2>
          <p>
            A professional filmmaker of 10+ years, telling stories that help
            brands reach millions. Think we'd work well together?
            <a href="/contact">Let's talk!</a>
          </p>
        </div>
      </div>

      <div class="intro" id="animation">
        {% include "includes/gallery.html" %}
      </div>
    </div>
  </div>
</div>
