---
layout: "layouts/project.njk"
client: "Fortnite"
agency: "BoomTV"
title: "The Reunion"
length: "3 Weeks"
videoID: "1026360987"
subtitle: "Reviving Fortnite’s OG Era with a Nostalgic Showdown."
video:
  webm: "https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop.webm"
  mp4: "https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop_h264_preview.mp4"
image:
  webp: "/assets/img/projects/fortnite-reunion/reunion loop main.00_00_00_00.Still001.webp"
  jpg: "/assets/img/projects/fortnite-reunion/reunion loop main.00_00_00_00.Still001.jpg"
metric: "234K"
metricLabel: "peak viewers"
date: 2023-06-04
tags: "project"
scope: "Creative Director & Producer"
feature: "yes"
order: 4
quote: "BoomTV pulled out all the stops for this once-in-a-lifetime competition that may never be replicated again. The blend of young Fortnite talent and legends of the past made this a must-watch event."
author: "esports.gg"
citation: "https://esports.gg/news/fortnite/fortnite-reunion-tournament-ends-with-peely-squad-takeover/"
---
<div class="contributions">
  <h2>Responsibilities</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Led Design System &amp; Animation Team</li>
    <li>Trailer Concepting &amp; Direction</li>
    <li>Directed 3D Environment &amp; Animation</li>
    <li>Production Oversight</li>
    <li>Post-Production Supervision</li>
    <li>Client &amp; Partner Management</li>
  </ul>
</div>

<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Fortnite%20Reunion%20Loop_h264_crf21.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <h2>The Challenge</h2>

  <p>
    Fortnite OG was an emotional, exciting moment for the entire Fortnite
    community. In a first-of-its-kind content event, fans returned to the
    original map that was removed from the game back in 2017. To promote this
    legacy event and celebrate with fans and influencers alike, Epic Games
    needed a can’t-miss tournament that felt like a true homecoming for the
    community.
  </p>
</div>



<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport1.webp"
    alt="" width="1920" height="1080" loading="lazy" decoding="async" />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 4.webp"
    alt="" width="1920" height="1080" loading="lazy" decoding="async" />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 3.webp"
    alt="" width="1920" height="1080" loading="lazy" decoding="async" />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 2.webp"
    alt="" width="1920" height="1080" loading="lazy" decoding="async" />
</div>

<h2>The Solution</h2>

<div class="side-by-side">
  <p class="big">Class of 2017</p>
  <p>
   "The Reunion" as a concept drew clear
    connections to class reunions and seeing old friends from the past. I developed the concept into a trailer
    direction, while the team worked to secure the OG creators fans knew and loved.
  </p>
</div>

<div class="side-by-side">
  <p class="big">A Delicious Trailer With a Side of Nostalgia</p>
  <p>
    I pitched the Fortnite team on
    a massive cake shaped like the returning map. Epic
    worked closely with me to confirm which iconic locations would be
    returning so we could accurately recreate them.
  </p>
</div>

  <div class="vimeo-container" style="overflow: hidden">
    <div style="position: relative; padding-top: 56.25%">
      <iframe
        src="https://iframe.mediadelivery.net/embed/418879/dbc2f757-71cd-494b-8d47-53940110e37b?autoplay=true&loop=false&muted=true&preload=true&responsive=true"
        loading="lazy"
        style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </div>

<div class="side-by-side">
  <p class="big">Extending The Style</p>
  <p>
    With the trailer direction approved, its same bright, colorful style
    would extend to the rest of the event. We worked closely with the
    Fortnite team on logos, concepts, and broadcast design, until we were ready to reveal the cake and announce the event in spectacular fashion.
  </p>
</div>

<img
    src="/assets/img/projects/fortnite-reunion/Style Custom Graphics_/Old reuinon.webp"
    alt="" width="3866" height="2160" loading="lazy" decoding="async" />
  <img
    src="/assets/img/projects/fortnite-reunion/Style Custom Graphics_/Text Treatment_.webp"
    alt="" width="1920" height="1197" loading="lazy" decoding="async" />
<video autoplay loop muted playsinline>
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%204.webm"
    type="video/webm"
  />
  <source
    src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%204.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%206.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%206.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%203.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%203.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Behance_Sting.mp4"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/Behance_Sting.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%202.webm"
      type="video/webm"
    />
    <source
      src="https://tifajade.b-cdn.net/Fortnite%20Reunion/reunion%20loop%202.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>The Impact</h2>

<div class="side-by-side">
  <p>
    Fans embraced the cake concept, leading to 2M+ impressions and 69K+ direct
    social engagements.
  </p>
  <p>
    811K hours watched, 234K peak viewers, one of 2023’s biggest Fortnite
    tournaments.
  </p>
  <p>
    Fortnite’s top influencers drove hype, outperforming even Epic’s official
    channel.
  </p>
</div>


<div class="contributions">
  <h2>Credits</h2>

  <ul>
    <li>Logo Design: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
