---
layout: "layouts/project.njk"
client: "Porsche x Rocket League"
agency: "BoomTV"
title: "Porsche 911 Turbo Invitational"
length: "3 Weeks"
videoID: "1025976777"
subtitle: "Defining how a luxury brand captures the esports market.
"
video: "/assets/img/videos/porsche_main_loop_hero.mp4"
image: "/assets/img/projects/porsche-911/screencaps/porsche-bg.webp"
metric: "1.23M"
metricLabel: "total views"
date: 2023-09-01
tags: "project"
scope: "Creative Director & Producer"
feature: "yes"
---
<div class="contributions">
  <h2>Responsibilities</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Led Design System &amp; Animation Team</li>
    <li>Trailer Concepting &amp; Direction</li>
    <li>Production Oversight</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div style="position:relative;padding-top:56.25%;"><iframe src="https://iframe.mediadelivery.net/embed/418879/c22cd12d-7fea-4d32-8236-2bf1f51f4015?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;fullscreen;" allowfullscreen="true"></iframe></div>

<div class="side-by-side">
  <h2>The Challenge</h2>

  <p>
    How does a luxury automotive brand enter the fast-paced world of esports
    while maintaining brand prestige? Porsche had never activated in Rocket
    League before. This event had to establish them as a premium esports brand
    from day one.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 5.mp4" type="video/mp4" />
  <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 5.webm" type="video/webm" />
  
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Casters.mp4" type="video/mp4" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Casters.webm" type="video/webm" />
    
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Socials.mp4" type="video/mp4" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Socials.webm" type="video/webm" />
    
    Your browser does not support the video tag.
  </video>
</div>

<div>
  <h2>The Solution</h2>

  <div class="side-by-side">
    <p class="big">Precision Meets Power</p>
    <p>
      I led my team in developing a cinematic event
      package, merging Porsche’s sleek branding with Rocket League’s
      explosive energy.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">A Broadcast Engine Built for Speed</p>
    <p>
      We developed a real-time API-driven overlay system, seamlessly integrating
      tournament data into the live broadcast.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">A Trailer That Set the Stage</p>
    <p>
      I set the creative direction for a high-octane tournament trailer and led
      the team that turned the Porsche 911 Turbo into the centerpiece of a
      high-speed esports showdown.
    </p>
  </div>
</div>

  <video autoplay loop muted playsinline preload="auto" title="Porsche 911 Turbo Invitational Promo">
    <source
      src="https://tifajade.b-cdn.net/Porsche/Porsche911Turbo_Announcer_h264_crf21.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <p>1.23M total views, 47.9K peak concurrent viewers.</p>
    <p>
      800K+ social media impressions, making it one of Rocket League’s
      biggest 2023 events.
    </p>
    <p>
      14 of the top 15 Rocket League Twitch streams featured the tournament.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 3.webm" type="video/webm" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 3.mp4" type="video/mp4" />
    
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 2.webm" type="video/webm" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 2.mp4" type="video/mp4" />
    
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 4.mp4" type="video/mp4" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 4.webm" type="video/webm" />
    
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 1.webm" type="video/webm" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Loop 1.mp4" type="video/mp4" />
    
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source src="/assets/img/projects/porsche-911/videos/Porsche Stinger.webm" type="video/webm" />
    <source src="/assets/img/projects/porsche-911/videos/Porsche Stinger.mp4" type="video/mp4" />
    
    Your browser does not support the video tag.
  </video>
</div>


<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
