---
layout: "layouts/project.njk"
client: "UFC Performance Institute"
title: "Olympic Athlete Features"

video: "/assets/img/videos/olympicteam_h264_crf23.mp4"
image: "/assets/img/projects/olympic team/vlcsnap-2025-02-26-19h51m09s524.webp"
videoID: "598548715"
subtitle: "Videography, Video Editing, Project Management"
date: 2021-05-02
tags: "project"
scope: "Video Editor"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/567218937?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&muted=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Chinese Olympic Kayak Team Feature"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      In 2019, I edited a series of social media pieces covering the Chinese
      women's Olympic teams' visit to UFC headquarters and its state-of-the-art
      Performance Institute. The videos highlighted how their training sessions
      at the institute contributed to their Olympic preparation while promoting
      the UFC’s world-class facilities.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Production</li>
      <li>Video Editing</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/567217525?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Chinese Olympic Rowing Team Feature"
  ></iframe>
</div>
