---
layout: "layouts/project.njk"
client: "Various"
agency: "UFC"
title: "UFC"
videoID: "1026298680"
subtitle: "Shaping the Narrative of Combat Sports."
video: "/assets/img/videos/UFC Loop_h264_crf23_hero.mp4"
image: "/assets/img/projects/ufc/ufc-thumb.jpg"
metric: "650M+"
metricLabel: "social followers reached"
date: 2021-01-01
tags: "project"
scope: "Post Producer"
feature: "yes"
order: "2"
---

<div class="contributions">
  <h2>Responsibilities</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Client &amp; Stakeholder Coordination</li>
    <li>Post-Production Direction</li>
    <li>Editorial Oversight</li>
    <li>Animation Direction</li>
  </ul>
</div>

<div style="position: relative; padding-top: 56.25%">
  <iframe
    src="https://iframe.mediadelivery.net/embed/418879/ebd2ae52-b9a1-4df3-8e79-18aa3340434f?autoplay=true&loop=true&muted=true&preload=true&responsive=true"
    loading="lazy"
    style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;fullscreen;"
    allowfullscreen="true"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">Building the Hype for Iconic Fights</p>
  <p>
    From McGregor vs. Cowboy to Miocic vs. Cormier III, I defined the stakes for
    UFC’s biggest showdowns, driving millions in pay-per-view sales. By digging
    into the archives and hand-selecting defining moments, I helped fuel the
    narrative excitement that made these fights must-watch events.
  </p>
</div>

<div class="youtube-container">
  <iframe
    src="https://www.youtube.com/embed/8DCxRxqeqVw?si=bR39z-0ZKt5xcl9n"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">Long-Form Storytelling for Hardcore Fans</p>
  <p>
    I worked on UFC Originals series like Fight Flashback, Greatest Fights, and
    Profiles in Combat, delivering in-depth storytelling that gave fans a deeper
    look at the sport. With access to thousands of hours of footage, interviews,
    and press conferences, I crafted compelling narratives that connected
    viewers to the history and personalities that shaped the UFC.
  </p>
</div>

<div style="position: relative; padding-top: 56.25%">
  <iframe
    src="https://iframe.mediadelivery.net/embed/418879/2e080a51-4745-430c-8d75-86098105fb66?autoplay=true&loop=true&muted=true&preload=true&responsive=true"
    loading="lazy"
    style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;fullscreen;"
    allowfullscreen="true"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">Branded Content That Feels Organic</p>
  <p>
    From Modelo to Marvel Entertainment, I helped develop organic partnered
    content that seamlessly fit UFC’s storytelling framework. I integrated
    sponsor messaging into fighter narratives that aligned with our partners'
    brand identities, ensuring each partnership felt natural and engaging to
    fans.
  </p>
</div>
<!-- <div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/644598304?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Disabled Veterans of America | UFC Memorial Visit"
  ></iframe>
</div> -->

<h2>The Impact</h2>
<div class="side-by-side">
  <p>650M+ UFC social media followers reached with promotional content.</p>
  <p>
    Helped shape major UFC PPV event narratives, driving millions in PPV sales
    during UFC's biggest years.
  </p>
  <p>
    Maintained notable partnerships with Modelo, Marvel, ZipRecruiter,
    DraftKings, and more.
  </p>
</div>
