---
layout: "layouts/project.njk"
client: "Verizon x Xbox"
agency: "BoomTV"
length: "2 Months"
title: "Verizon All Access Series"
subtitle: "Bringing Competitive Spirit to Casual Games, For Verizon and Xbox."
video: "/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23_hero.mp4"
image: "/assets/img/projects/skyblock-showdown/skyblock.webp"
metric: "1.6M+"
metricLabel: "social impressions"
date: 2022-11-28
tags: "project"
scope: "Creative Director & Producer"
feature: "yes"
---

<div class="contributions">
  <h2>Responsibilities</h2>
  <ul>
    <li>Creative Direction</li>
    <li>Design System Development</li>
    <li>Production Management</li>
    <li>Vendor Coordination</li>
    <li>Marketing Strategy</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23_hero.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <h2>The Challenge</h2>

  <p>
    Verizon's Game Pass promotion needed to get in front of competitive gamers.
    But Xbox's flagship titles Sea of Thieves & Minecraft don’t have built-in
    competitive formats. We needed to design thrilling experiences from scratch.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop1_web.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2>The Solution</h2>

<div class="side-by-side">
  <div>
    <p class="big">A Bespoke Influencer Survival Arena</p>
    <p>
      For Minecraft, we brought on Starfish Studios to build a custom-branded
      tournament world, integrating Xbox &amp; Verizon branding directly into
      the game environment.
    </p>
  </div>
  <img
    src="/assets/img/projects/skyblock-showdown/skyblock.webp"
    alt=""
    width="1600"
    height="900"
    loading="lazy"
    decoding="async"
  />
</div>

<div class="side-by-side">
  <div>
    <p class="big">Competitive Mayhem on the High Seas</p>
    <p>
      Rare Studios agreed to open the door to private servers for us, allowing
      my team to turn the open-world pirate game into an unpredictable,
      competitive battleground.
    </p>
  </div>
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/418879/74d50651-57ed-41ef-9ed2-218a3a25b776?autoplay=true&loop=true&muted=true&preload=true&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="
        accelerometer;
        gyroscope;
        autoplay;
        encrypted-media;
        picture-in-picture;
        fullscreen;
      "
      allowfullscreen="true"
    ></iframe>
  </div>
</div>

<h2>The Impact</h2>
<div class="side-by-side">
  <p>
    1.6M+ social impressions, 529K+ hours watched, and 7K+ total engagements.
  </p>
  <p>
    Xbox Game Pass tournaments reinforced that casual gaming can be highly
    competitive.
  </p>
  <p>A foundational tournament format built to scale.</p>
</div>

<div class="contributions">
  <h2>Credits</h2>
  <ul>
    <li>Minecraft Map Development: Starfish Studios</li>
  </ul>
</div>
